* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* UTILS */

.big-container {
    width: 1600px;
    margin: 0 auto;
}

.small-container {
    width: 1400px;
    margin: 0 auto;
}


p {
    font-size: 20px;
}

h1 {
    font-size: 100px;
    font-weight: 900;
    padding-top: 20px;
    padding-bottom: 50px;
}

h2 {
    font-size: 55px;
    padding-bottom: 50px;
}

/* GENERICS */
body {
    font-family: "Open Sans", sans-serif;
}

.row {
    display: flex;
}

ul {
    list-style-type: none;
}

a.header-info,
a.header-support,
a.header-login {
    text-decoration: none;
    color: black;
    font-size: 20px;
    padding-bottom: 37px;
}

.navbar a.header-info:hover,
.navbar a.header-support:hover,
.navbar a.header-login:hover {
    border-bottom: 2px solid grey;
}

.blue-btn {
    color: white;
    background-color: #0061FF;
    padding: 8px 20px;
    font-size: 20px;
    text-decoration: none;
}

.blue-btn:hover {
    background-color: #5b9aff;
}

.white-btn {
    color: black;
    background-color: white;
    padding: 8px 20px;
    font-size: 20px;
    text-decoration: none;
}

/* HEADER */
header {
    position: relative;
}

.navbar {
    justify-content: space-between;
    height: 100px;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 5px white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.navbar-left {
    flex-basis: 30%;
}


.link-logo {
    align-items: center;
    height: 60px;
    width: 150px;

}

#logo {
    flex-basis: 100%;
}

.navbar ul {
    display: flex;
    gap: 40px;
    line-height: 60px;
    margin-left: 40px
}

.navbar-right {
    flex-basis: 30%;
    justify-content: flex-end;
}

/* JUMBOTRON */
.jumbotron {
    min-height: 600px;
    background-color: #B4D0E7;
    padding-top: 150px;
    padding-bottom: 40px;
}

.jumbo-box {
    position: relative;
    min-height: 800px;
}

/* JUMBO LEFT */
.jumbo-left {
    width: 30%;
    min-height: 300px;
}

.jumbo-description {
    flex-basis: 100%;
}

.p-jumbo {
    padding-bottom: 50px;
}

.free-trial {
    padding-bottom: 50px;
}

.cancel-subscription {
    font-size: 20px;
    text-decoration: none;
    color: black;
}

.arrow-down {
    color: black;
    position: absolute;
    bottom: 0;
    left: 0;
}

/* JUMBO RIGHT */
.jumbo-right {
    width: 70%;
    position: relative;
}

.jumbo-img {
    max-width: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
}

/* MAIN */
/* PURCHASE SECTION */
.buisness {
    padding-top: 300px;
}

.billing-type {
    gap: 50px;
}

.checked-btn {
    height: 25px;
    width: 25px;
    border: 6px solid #0061FF;
    border-radius: 50%;
}

.unchecked-btn {
    height: 25px;
    width: 25px;
    border: 3px solid lightgray;
    border-radius: 50%;
}

.monthly,
.annual {
    line-height: 25px;
    margin-left: 5px;
    font-size: 18px;
}

.buisness-cards {
    padding-top: 70px;
    gap: 20px;
    flex-wrap: wrap;
}

.card {
    flex-basis: calc(100% / 3 - 40px / 3);
    min-height: 300px;
    border: 1px solid lightgrey;
}

.card.long-card {
    flex-grow: 1;
}
